{% extends '_base.html' %}

<!-- Static Files Loader -->
{% load static %}

<!-- Title page -->
{% block title %}Se connecter{% endblock %}

<!-- CSS -->
{% block custom_css %}
<link rel="stylesheet" href="{% static 'users/css/signin.css' %}" />
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="login__container">
  <div class="login__back">
    <a href="#"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-arrow-bar-left"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5"
        />
      </svg>
      school-lab</a
    >
  </div>
  <div class="login__wrapper">
    <div class="login__cta">
      <h1 class="login__heading">Se connecter à l'application</h1>
      <p class="login__sub-heading">
        ou <a href="{% url 'users:signup' %}">ouvrir un compte</a>
      </p>
    </div>
    <form class="login__form" method="post">
      {% csrf_token %}
      <div class="login__form__group">
        <label for="#">Nom d'utilisateur</label>
        <input name="username" type="text" />
      </div>
      <div class="login__form__group">
        <label for="#">Mot de passe</label>
        <input name="password" type="password" />
      </div>
      <button type="submit" class="btn primary">Se connecter</button>
    </form>
  </div>
</div>
{% endblock %}
