{% extends '_base.html' %}

<!-- Static Files Loader -->
{% load static %}

<!-- Title page -->
{% block title %}Creer votre compte{% endblock %}

<!-- CSS -->
{% block custom_css %}
<link rel="stylesheet" href="{% static 'users/css/register.css' %}" />
{% endblock %}

<!-- CONTENT -->
{% block content %}
<div class="register__container">
  <div class="register__wrapper">
    <img class="logo-img" src="{% static 'images/png/logo.png' %}" alt="logo" />
    <h1 class="register__heading">Créez votre compte</h1>
    <p class="register__info">
      Vous avez déjà un compte?
      <a href="{% url 'users:signin' %}">Se connecter</a>
    </p>
    <form class="register__form" method="post">
      {% csrf_token %}
      <div class="form__group">
        <label for="#">Nom Etablissement</label>
        <div class="form__item">
          <input name="school_name" type="text" />
        </div>
      </div>
      <div class="form__group">
        <label for="#">Nom utilisateur</label>
        <div class="form__item">
          <input name="username" type="text" />
        </div>
      </div>
      <div class="form__group">
        <label for="#">Adresse Email</label>
        <div class="form__item">
          <input name="email" type="email" />
        </div>
      </div>
      <div class="form__group">
        <label for="#">Mot de passe</label>
        <div class="form__item">
          <input name="password" type="password" />
        </div>
      </div>
      <div>
        <button type="submit" class="btn primary">Créer votre compte</button>
        <p class="term-of-service">
          En cliquant sur ce bouton, vous acceptez les
          <a href="#">conditions générales</a> et la
          <a href="#">politique de confidentialité</a>.
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
