{% load static %}
<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %} | v2c-school</title>

    <!-- Global styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css/' %}" />

    <!-- Custom styles -->
    {% block custom_css %}{% endblock %}
  </head>

  <body>
    {% block content %} {% endblock content %}

    <!-- Global JS -->
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Custom JS -->
    {% block custom_js %}{% endblock %}
  </body>
</html>
