.register__container {
  background-image: url("/static/users/images/sign-up-background--desktop.jpg");
  position: relative;
}

.register__wrapper {
  position: absolute;
  top: 100px;
  left: 34%;
  max-width: 33rem;
  padding: 40px;
  background-color: var(--white);
  box-shadow: var(--shadow-authentication);
}

.logo-img {
  margin-bottom: 32px;
  width: 33%;
}

.register__heading {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 8px;
  word-break: break-word;
}

.register__info {
  color: var(--gray-30);
  font-size: 18px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.register__info a,
.term-of-service a {
  color: var(--blue-30);
  text-decoration: underline;
}

.register__info a:hover,
.term-of-service a:hover {
  color: #6979cd;
  text-decoration: none;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 1.5rem;
}

.register__form .btn.primary {
  align-self: flex-start;
}

.term-of-service {
  font-size: 14px;
  margin-top: 16px;
  line-height: 1.375rem;
}
