.login__container,
.register__container {
  height: 100vh;
  height: var(--full-height);
  background-size: cover;
}

.login__container {
  background-image: url("/static/users/images/sign-in-background--desktop.webp");
}

.login__back {
  display: flex;
  align-items: center;
  min-height: 4.75rem;
  margin-bottom: 3.75rem;
  padding-left: 4rem;
  font-size: 1.2rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.login__back a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gray-80);
  font-weight: 500;
}

.login__back svg {
  width: 25px;
  height: 25px;
  fill: var(--gray-80);
}

.login__wrapper {
  display: flex;
  max-width: 41.25rem;
  padding: 3.75rem;
  margin: 0 auto 5.625rem;
  border-radius: 0.25rem;
  background-color: var(--white);
  box-shadow: var(--shadow-authentication);
}

.login__wrapper a {
  color: var(--yellow-dark);
}

.login__wrapper a:hover {
  text-decoration: underline;
}

.login__cta {
  padding-left: 1rem;
  padding-right: 2rem;
  flex: 0 0 50%;
  max-width: 50%;
}

.login__heading {
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-bottom: 1em;
}

.login__form {
  width: 100%;
}

.login__form__group label {
  display: inline-block;
  color: #001526;
  margin-bottom: 0.5rem;
  font-size: 17px;
}

.login__form__group input {
  display: block;
  padding: 0.5rem 0.25rem;
  border-bottom: 0.0625rem solid var(--dark);
  margin-bottom: 2rem;
}

.login__form__group input::placeholder {
  color: hsl(233, 4%, 56%);
}
